

.chart {
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-title {
  -fx-text-fill: #39931D;
  -fx-font-size: 1.2em;
}

.axis-label {
  -fx-text-fill: #6D6E71;
  -fx-font-size: .8em;
}

.chart-legend {
   -fx-background-color:  transparent;
}

.chart-legend-item{
   -fx-padding: 0 0 0 10px;
}

.chart-legend-item{
    -fx-text-fill: #6D6E71;
}

.axis-tick-mark {
    -fx-stroke: #6D6E71;
    -fx-stroke-width: 1.2; 
}
.axis-minor-tick-mark {
    -fx-stroke: #6D6E71;
}

.default-color0.chart-series-line { -fx-stroke: #39931D; }
.default-color1.chart-series-line { -fx-stroke: #E81A40; } 
 
.default-color0.chart-line-symbol { -fx-background-color: #39931D, white;}
.default-color1.chart-line-symbol { -fx-background-color: #E81A40, white;}

.default-color0.chart-pie { -fx-pie-color: #82BB25; }
.default-color1.chart-pie { -fx-pie-color: #E81A40; } 

.chart-pie-label-line {
    -fx-stroke: #39931D;
    -fx-fill: #39931D;
}
 
.chart-pie-label {
    -fx-fill: #6D6E71;
    -fx-font-size: 1em;
}

.data0.chart-bar {
    -fx-background-color: #c3debb;
     -fx-background-radius:  5 5 0 0
}

.data1.chart-bar {
    -fx-background-color: #afd3a4;
    -fx-background-radius:  5 5 0 0
}

.data2.chart-bar {
    -fx-background-color: #9cc98e;
    -fx-background-radius:  5 5 0 0
}

.data3.chart-bar {
    -fx-background-color: #88be77;
    -fx-background-radius:  5 5 0 0
}

.data4.chart-bar {
    -fx-background-color:  #74b360;
    -fx-background-radius:  5 5 0 0
}

.tooltip {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-font-weight: bold;
    -fx-padding: 6;
    -fx-border-width:1;
    -fx-background-color: #c3debb;
    -fx-text-fill: #39931D;
    -fx-border-color:#39931D;
}

.jfx-button{
    -fx-background-color: #8DC63F;
    -fx-text-fill: WHITE;
}
.picked{
    -fx-border-color: #9CC98E;
}


